/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header and Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ccc;
}

/* Hero Section */
.hero {
    background-image: url('https://thumb.viva.id/intipseleb/663x372/2022/11/09/636bc9c5d7a60-aplikasi-nonton-film.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.namaflm{
    color: #ff6600;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cc5200;
}

/* Movie List Section */
.movies {
    padding: 50px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.movie-list img {
    width: 200px;
    height: 300px;
    margin: 10px;
    object-fit: cover;
}

/* Login Section */
.login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login label {
    font-weight: bold;
    margin-bottom: 5px;
}

.login input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #cc5200;
}

.login p {
    text-align: center;
    margin-top: 20px;
}

.login p a {
    color: #ff6600;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}